<div class="container">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="card">
        <div class="card-content">
          <h3 class="title is-3 mt-5 has-text-centered">
            Password Generator
          </h3>
          <div class="mt-5">
            <label>Length</label>
            <input
              class="input"
              type="text"
              placeholder="Length"
              (input)="handleLengthChange($event)"
            />
          </div>
          <div class="my-3">
            <label class="checkbox">
              <input type="checkbox" (change)="handleUseLettersChange()" />
              Use Letters
            </label>
          </div>
          <div class="my-3">
            <label class="checkbox">
              <input type="checkbox" (change)="handleUseNumbersChange()" />
              Use Numbers
            </label>
          </div>
          <div class="my-3">
            <label class="checkbox">
              <input type="checkbox" (change)="handleUseSymbolsChange()" />
              Use Symbols
            </label>
          </div>
          <div>
            <button
              class="button is-primary is-fullwidth"
              [disabled]="!length || !(useNumbers || useLetters || useSymbols)"
              (click)="handleGeneratePasswordBtnClick()"
            >
              Generate Password
            </button>
          </div>
          <div class="my-5" *ngIf="password">
            <label>Your Password</label>
            <input class="input" [value]="password" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
